<header>
  <div class="grid-child">
  {% if page.tag-name %}
    <h1>#{{ page.tag-name }}</h1>
  {% elsif page.title %}
    <h1>{{ page.title }}</h1>
  {% else %}
    <h1>{{ site.title }}</h1>
  {% endif %}
  </div>
  <div class="grid-child">
  {% if page.description %}
    {{ page.description }}
  {% else %}
    {{ site.description }}
  {% endif %}
  <hr>
  </div>
  <div class="grid-child">
    {% if page.url != "/" %}
      <a class="button" href="/">Back to main page</a>
    {% else %}
      <a class="button" href="https://github.com/hasgoodui-design/{{ site.github-repo }}/issues" target="_blank" rel="nofollow noopener noreferrer">{% octicon pencil height:16 %} Submit an Entry</a>
    {% endif %}
  </div>
</header>