---
layout: default
---

{% assign steps = site.steps | sort: 'date' %}
{% for step in steps reversed %}
<div class="item">
  <i class="vertical-line"></i>
  <div class="card-panel">
    <h3 class="card-title">
      {{ step.title }}
    </h3>
    <div class="card-author">
      Submitted by {{ step.submitter }} | {{ step.date | date: '%d/%m/%Y'}}
    </div>
    <hr>
    <p>
      {{ step.content }}
    </p>
    <p>
      {% assign tags = step.tags %}
      {% for tag in tags -%}
        <a href="{{ site.baseurl }}/tags/{{ tag }}">#{{ tag }}</a>{% unless forloop.last %} | {% endunless -%}
      {% endfor %}
    </p>
  </div>
</div>
{% endfor %}
<div class="last-item">
  <i class="vertical-line"></i>
</div>