:root {
  --md-admonition-icon--tag: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7.75 6.5a1.25 1.25 0 1 0 0 2.5 1.25 1.25 0 0 0 0-2.5Z"></path><path d="M2.5 1h8.44a1.5 1.5 0 0 1 1.06.44l10.25 10.25a1.5 1.5 0 0 1 0 2.12l-8.44 8.44a1.5 1.5 0 0 1-2.12 0L1.44 12A1.497 1.497 0 0 1 1 10.94V2.5A1.5 1.5 0 0 1 2.5 1Zm0 1.5v8.44l10.25 10.25 8.44-8.44L10.94 2.5Z"></path></svg>')
}

:root, [data-md-color-scheme="custom_dark"] {
    --md-default-bg-color: #0d1117;
    --md-default-fg-color: #dcddde;
    --md-default-fg-color--light: #dcddde;
    --md-default-fg-color--lightest: #dcddde;
    
    --md-primary-fg-color: #161b22;
    
    --md-typeset-a-color: #039BE5;
    --md-code-fg-color: #d5d7e2;
    --md-code-bg-color: #2C2D30;
    
    --md-button-fg-color: #238636;
    --md-button-bg-color: #2386361a;
}

.md-button--discord {
    color: var(--md-default-fg-color) !important;
    border-color: var(--md-button-fg-color) !important;
    background-color: var(--md-button-bg-color) !important;
}

.md-button--discord:hover {
    background-color: var(--md-button-fg-color) !important;
}

.md-typeset .admonition.tags,
.md-typeset details.tags {
    border-color: var(--md-button-fg-color);
}

.md-typeset .tags > .admonition-title,
.md-typeset .tags > summary {
    background-color: var(--md-button-bg-color);
}

.md-typeset .tags > .admonition-title::before,
.md-typeset .tags > summary::before {
    background-color: var(--md-button-fg-color);
    -webkit-mask-image: var(--md-admonition-icon--tag);
            mask-image: var(--md-admonition-icon--tag);
}

.md-typeset .md-tag {
    background-color: var(--md-button-bg-color);
    border: .1rem solid var(--md-button-fg-color);
    border-radius: .3rem;
}